{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Popular Scenarios</title>
    <link rel="stylesheet" href="{% static 'css/popularScenarios.css' %}" />
  </head>
  <body>
    <div class="content-wrapper">
      <div id="navHeader">
        <a href="{% url 'scenGen' %}">Scenario Generator</a>
        <a href="{% url 'savedScenarios' %}">Saved Scenarios</a>
        <a href="{% url 'popularScenarios' %}">Popular Scenarios</a>
        <hr>
      </div>
    </div>
  </body>
</html>