{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DND Scenario Viewer</title>
    <link rel="stylesheet" href="{% static 'css/scenViewer_css.css' %}" />
  </head>
  <body>
    <div id="navHeader">
        <a href="{% url 'scenGen' %}">Scenario Generator</a>
        <hr>
      </div>
    <div id="monsters">
    <div class="content-wrapper" id="monsterDiv">
      </div>
    </div>
  {{ monsterList|json_script:"monsterData" }}
  <script src="{% static 'js/scenViewer.js' %}"></script>
  </body>
</html>